@import { url('~/platform.css') };

Page {
  font-size: 17;
  background-image: url('~/shared/images/flowers_bg.jpg');
  background-size: cover;
}
TextField {
  margin: 10;
  padding: 10;
}
Image {
  margin-top: 20;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 80;
}
Button {
  margin: 10;
  padding: 10;
}
ActivityIndicator {
  width: 50;
}
.item {
  background-color: #eee;
}
.full-content {
  background-color: rgba(255, 255, 255, 0.95);
}
.rad-list {
  background-color: transparent;
}